body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6CCB2;
    height: 95vh;

}


body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYTYyZnJxMGlqMjRka3BjaHhsNnF4bmVqcDZkd2pkN3lnMTFna2UyayZlcD12MV9zdGlja2Vyc19zZWFyY2gmY3Q9cw/UksX6G9OVAqxdIPx7X/giphy.gif);
  opacity: 0.5; 
  pointer-events: none; 
  z-index: -1; 
}

.container{
    width: 27%;
    height: 90%;
    background-color: #DDB892;
    border: 2px solid #B08968;
    border-radius: 30px;
    position: relative;
    box-shadow: 2px 5px 100px 10px #B08968;
}

.container img{
    position: absolute;
}

.container h1{
    margin-left: 11rem;
    margin-top: 4rem;
    font-family: "Varela Round", sans-serif;
    color:#9C6644;
    text-shadow: 2px 2px 0 #613f29;
}

.ola{
    margin-top: 1.1rem;
}

.input1{
    background-color: #DDB892;
    border: none;
    border-bottom: 2px solid #B08968 ;
    width: 230px;
    margin-left: 1.3rem;
    margin-top: 1.3rem;
    outline: none;
    margin-bottom: 15px;
    padding: 5px 10px;
    position: relative;
}

.input2{
        
        position: absolute;
        margin-top: 2.2rem;
        margin-left: 2rem;
        transform: scale(1.5); 
         accent-color:#DDB892;
}

.input2:checked{
    accent-color:#aa8867;
    transform: scale(1.2);
      transition: transform 0.2s;
}